* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.logo {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center; 
}

.logo-img {
    width: 150px; 
    height: auto;
    margin-bottom: 2.5px;
}

.sidebar {
    width: 280px;
    height: 100vh; /* Ajustar al 100% del alto de la pantalla */
    background-color: #f4f4f9;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Mueve este contenedor al final de la barra lateral */
}

.menu-item {
    font-size: 15px;
    color: #333;
    padding: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.log-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.log-button:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.main-content {
    flex-grow: 1;
    background-color: #ffffff;
}

.header {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-bar {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-container .material-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #262424;
    font-size: 16px;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
}

.icon-button:hover {
    color: #666;
}

.content {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 20px; 
    padding: 20px;
}

.frame {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.overview-cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.card {
    flex: 1;
    padding: 1.5rem;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #333;
}

.info-single span {
    font-size: 2rem;
    font-weight: bold;
    color: #000000; /* Color destacado */
}

.info-single small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #666;
}

/* Doble información */
.info-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.info-row div {
    text-align: center;
}

.info-row div span {
    display: block;
    font-size: 1.5rem;
    color: #000000;
}

.info-row div small {
    font-size: 0.875rem;
    color: #666;
}

.card.blue {
    border-color: #f4f4f9;
}
.card.blue h3 {
    font-size: 1.10rem;
    color: #007bff;
}

.card.orange {
    border-color: #f4f4f9;
}

.card.orange h3 {
    font-size: 1.10rem;
    color: #ff9800;
}

.card.purple {
    border-color: #f4f4f9;
}

.card.purple h3 {
    font-size: 1.10rem;
    color: #9c27b0;
}

.card.red {
    border-color: #f4f4f9;;
}

.card.red h3 {
    font-size: 1.10rem;
    color: #bd0c0cfd;
}

.products-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.products-table h2 {
    margin: 0; 
    font-size: 25px; 
    font-weight: bold; 
}

.products-table button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.products-table button:hover {
    background-color: #0056b3;
}

.products-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.products-table th,
.products-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.products-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.in-stock {
    color: green;
    font-weight: bold;
}

.out-stock {
    color: red;
    font-weight: bold;
}

.low-stock {
    color: orange;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

#filtersModal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Asegura que esté sobre el resto del contenido */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}



/* Estilo específico para el botón de filtros */
#openFiltersBtn {
    position: relative;
    background-color: white;
    border: 2px solid black; /* Contorno negro */
    color: black;
}

/* Efecto hover con sombra para el botón de filtros */
#openFiltersBtn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

button {
    display: inline-flex;
    align-items: center;
}

/* Estilo específico para el botón de descarga */
#descarga {
    background-color: white;
    border: 2px solid black; /* Contorno negro */
    color: black;
}

/* Efecto hover con sombra para el botón de descarga */
#descarga:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

/* Estilo para los botones de paginación */
.pagination button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 15px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efecto hover para los botones de paginación */
.pagination button:hover {
    background-color: #f0f0f0;
    color: #333;
}

/* Estilo cuando los botones están deshabilitados */
.pagination button:disabled {
    background-color: #e0e0e0;
    color: #aaa;
    cursor: not-allowed;
    border: 2px solid #ddd;
}

.product-link {
    color: #007bff;
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
}
